<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seeisve</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" />
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/440def368b.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3.0.2"></script>
</head>

<body>
    <div id="app">
        <table>
            <tr>
                <td style="width: 20%;">
                    <div class="box">
                        <p>Please note that only CSV files can be uploaded at this time. Excel files, unfortunately,
                            cannot be processed as they utilize a different encoding format.</p>
                        <div>
                            <input type="file" style="font-size: 15px;" name="csv_file" id="csv_file"
                                @change="loadCSV($event)" accept=".csv">
                            <p v-show="parse_csv.length>0"><strong>Total Rows:</strong> {{parse_csv.length}}</p>
                            <p v-show="parse_header.length>0"><strong>Headers:</strong> {{parse_header.length}}</p>
                            <hr>
                            <div>
                                <select ref="key_search" style="width: 100%;">
                                    <option v-for="key in parse_header">{{key}}</option>
                                </select>
                                <div style="display: flex;">
                                    <!-- Flexibility to the search function. -->
                                    <select ref="option_search" style="width: 40%;">
                                        <option>Includes</option>
                                        <option>Equals</option>
                                        <option>Not Equals</option>
                                        <option>Larger Than</option>
                                        <option>Less Than</option>
                                    </select>
                                    <input style="width: 60%;" type="text" ref="search" placeholder="Search" id="text">
                                </div>
                                <br>
                                <p><strong>Search Enabled: </strong> {{searchAtIndex}} <br> <strong>Note:
                                    </strong>letter
                                    case-insensitive.</p>
                            </div>
                        </div>
                        <div style="display: flex;">
                            <button title="Search" style="width: 85%; font-size: 15px;"
                                @click="searchF();">Search</button>
                            <button title="Clear search, return the original result."
                                style="width: 15%; font-size: 15px; background-color:rgb(189, 90, 90)"
                                @click="searchAtIndex=false">X</button>
                        </div>
                        <p v-show="parse_csv_searched.length>0"><strong>Current Rows:</strong>
                            {{parse_csv_searched.length}}</p>
                        <p v-show="searchStatus!= '' && this.$refs.key_search.value.length>0">{{searchStatus}}</p>
                    </div>
                </td>
                <td style="text-align: right; min-width: 80%;">
                    <fieldset id="right">
                        <table v-if="searchAtIndex===false" style="border: 0px  white; 
                            box-shadow: 0px 0px 0px 0px;" v-if="parse_csv">
                            <thead>
                                <tr>
                                    <th style="text-align: left; " v-for="key in parse_header">
                                        {{ key }}
                                    </th>
                                </tr>
                            </thead>
                            <tr v-for="csv in parse_csv">
                                <td style="text-align: left; padding: 10px;" v-for="key in parse_header">
                                    {{csv[key]}}
                                </td>
                            </tr>
                        </table>
                        <table v-else="searchAtIndex===true" style="border: 0px  white; 
                        box-shadow: 0px 0px 0px 0px;" v-if="parse_csv">
                            <thead>
                                <tr>
                                    <th style="text-align: left; padding: 10px;" v-for="key in parse_header">
                                        {{ key }}
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                            <tr v-for="csv in parse_csv_searched">
                                <td style="text-align: left; padding: 10px;" v-for="key in parse_header">
                                    {{csv[key]}}
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </td>
            </tr>
        </table>
    </div>
    <script src="app.js"></script>
</body>

</html>