<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seeisve</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" />
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/440def368b.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3.0.2"></script>
</head>

<body>
    <div id="app">
        <div v-show="updateCSVTool" class="boxFloat">
            <p style="font-size: 20px; font-weight: 900;">Edit Cell</p>
            <p style="font-weight: 600; padding: 10px;">{{ currentCell.header }}</p>
            <input type="text" :value="currentCell.data" @click="data = $event.target.value"
                @change="data = $event.target.value" id="text">
            <button class="myBtnIn" @click="pushEditDataToCSV(data)">Update Cell</button>
            <div style="width: 100%; text-align: end;">
                <hr>
                <button class="myBtnInRd" title="Close window" @click="toggleOutEverything();">Close</button>
            </div>
        </div>
        <div v-show="searchTool" class="boxFloat">
            <div style="display: flex; padding: 3px;">
                <select ref="key_search" style="width: 20%;">
                    <option v-for="key in parse_header">{{key}}</option>
                </select>
                <!-- Flexibility to the search function. -->
                <select ref="option_search" style="width: 20%;">
                    <option>Includes</option>
                    <option>Equals</option>
                    <option>Not Equals</option>
                    <option>Larger Than</option>
                    <option>Less Than</option>
                </select>
                <input style="width: 60%;" v-on:keyup="keyMonitor" type="text" ref="search" placeholder="Search"
                    id="text">
                <button class="myBtnIn" title="Search" @click="searchData();"><i class="fas fa-search"></i></button>
            </div>
            <p><strong>Search Enabled: </strong> {{searchAtIndex}} <br> <strong>Note:
                </strong>letter
                case-insensitive.</p>
            <p v-show="searchStatus!= '' && this.$refs.key_search.value.length>0">{{searchStatus}}</p>
            <div style="width: 100%; text-align: end;">
                <hr>
                <button class="myBtnInRd" title="Close window" @click="toggleOutEverything();">Close</button>
            </div>
        </div>
        <div v-show="settingTool" class="boxFloat">
            <div style="padding: 3px; overflow: auto; max-height: 300px;">
                <!-- Show settings, export csv file..etc. -->
                <p style="font-size: 25px;">Settings</p>
                <p>Export Setting: </p>
                <p style="font-size: 15px;">Please note that only CSV files can be exported at this time. Excel files,
                    unfortunately, cannot be processed as they utilize a different encoding format.</p>
                <button class="myBtnIn" style="font-size: 16px;" title="Export current csv" @click="exportCSV();"><i
                        style="padding-right: 10px;" class="fa-solid fa-file-export"></i>Export CSV</button>
            </div>
            <div style="width: 100%; text-align: end;">
                <hr>
                <button class="myBtnInRd" title="Close window" @click="toggleOutEverything();">Close</button>
            </div>
        </div>
        <table>
            <tr>
                <td style="width: 3%;">
                    <button @click="toggleSearch()" id="myBtn" title="Go to search"><i
                            class="fas fa-search"></i></button>
                    <br><br>
                    <button @click="toggleSetting()" id="myBtn" title="Go to settings"><i
                            class="fa-solid fa-gears"></i></button>

                </td>
                <td>
                    <fieldset id="right">
                        <div class="box" style="background-color: white;">
                            <p>Please note that only CSV files can be uploaded at this time. Excel files, unfortunately,
                                cannot be processed as they utilize a different encoding format.</p>
                            <input type="file" style="font-size: 18px;" name="csv_file" id="csv_file"
                                @change="loadCSV($event)" accept=".csv">
                        </div>
                        <table v-if="searchAtIndex===false" style="border: 0px  white; 
                            box-shadow: 0px 0px 0px 0px;" v-if="parse_csv">
                            <thead>
                                <tr>
                                    <th style="text-align: left; " v-for="key in parse_header">
                                        {{ key }}
                                    </th>
                                </tr>
                            </thead>
                            <tr v-for="(csv, index) in parse_csv">
                                <td id="td" style="text-align: left; padding: 10px;" v-for="key in parse_header">
                                    <button @click="getCSVby(index, csv[key], key)" class="myBtnIn"><i
                                            class="fa-regular fa-pen-to-square"></i></button> {{csv[key]}}
                                </td>
                            </tr>
                        </table>
                        <table v-else="searchAtIndex===true" style="border: 0px  white; 
                        box-shadow: 0px 0px 0px 0px;" v-if="parse_csv">
                            <thead>
                                <tr>
                                    <th style="text-align: left; padding: 10px;" v-for="key in parse_header">
                                        {{ key }}
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                            <tr v-for="csv in parse_csv_searched">
                                <td id="td" style="text-align: left; padding: 10px;" v-for="key in parse_header">
                                    <button @click="getCSVby(csv.index, csv.data[key], key)" class="myBtnIn"><i
                                            class="fa-regular fa-pen-to-square"></i></button> {{csv.data[key]}}
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </td>
            </tr>
        </table>
        <div style="text-align: center;">
            <span v-show="parse_csv.length>0"><strong>Total Rows:</strong> {{parse_csv.length}}, <strong>Total
                    Columns:</strong> {{parse_header.length}}</span><span v-show="parse_csv_searched.length>0"><strong>,
                    Current Searched Rows:</strong>
                {{parse_csv_searched.length}}</span>
        </div>
    </div>
    <script src="app.js"></script>
</body>

</html>