* {
    font-family: 'Poppins', 'sans-serif';
}
input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.04) 0 1px 3px 0;
}

span {
    font-size: 14px;
    border-radius: 3px;
}

#myBtn {
    width: 50px;
    height: 50px;
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #66c1dc; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  #myBtnIn {
    width: auto;
    margin: 8px 0;
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #6a6a6a; /* Set a background color */
    color: white; /* Text color */
    border: 1px solid;
    border-color: #0099c8;
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    font-size: 18px; /* Increase font size */
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  }

/* CSS */
button {
    width: 98%;
    align-items: center;
    background-clip: padding-box;
    background-color: #93b5dc;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    vertical-align: baseline;
}

button:hover,
button:focus {
    background-color: #32c5fb;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

button:hover {
    transform: translateY(-5px);
}

button:active {
    background-color: #0099c8;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}


table {
    padding: 1px;
    overflow: auto;
    height: 97%;
    width: 100%;
}

table th {
    font-size: 20px;
    font-weight: 900;
    padding: 10px;
    border: 2px solid #66c1dc;
    border-radius: 3px;
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0rem;
    background-color: white;
    align-self: flex-end;
}

table,
tr,
td {
    vertical-align: top;
    padding: 4px;
}

#file {
    padding: 5px;
    font-size: 16px;
    color: rgb(74, 74, 74);
}

fieldset {
    height: 97%;
    width: auto;
    border-color: #0099c8;
    border-radius: 6px;
    /* Adjust the fieldset width based on its content */
    min-width: 98%;
    /* Ensure the fieldset occupies at least the width of the container */
    overflow: scroll;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#right {
    width: 0;
}


#td {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

tr {
    margin: 10px;
}

p {
    padding: 2px;
    margin: 2px;
    font-size: 18px;
}


.box {
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    background: #ddd;
    box-shadow: rgba(0, 0, 0, 0.04) 0 1px 3px 0;
}
.boxFloat {
    border: 1px solid;
    border-color: #0099c8;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    background: #ddd;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    display: block; /* Hidden by default */
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -310px;
    margin-top: -150px;
    z-index: 99;
    width: auto;
}

label {
    margin-top: 5px;
    padding: 5px;
    font-size: 18px;
}