* {
    font-family: 'Poppins', 'sans-serif';
}
input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.04) 0 1px 3px 0;
}

/* CSS */
button {
    width: 98%;
    align-items: center;
    background-clip: padding-box;
    background-color: #93b5dc;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
}

button:hover,
button:focus {
    background-color: #32c5fb;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

button:hover {
    transform: translateY(-1px);
}

button:active {
    background-color: #0099c8;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}


table {
    border: 2px solid black;
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 1px;
    overflow-x: auto;
}

table th {
    padding: 10px;
    border: 1px solid black;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0rem;
    background-color: white;
    align-self: flex-end;
}

table,
tr,
td {
    width: 100%;
    height: 100%;
    vertical-align: top;
    padding: 4px;
}

#file {
    padding: 5px;
    font-size: 16px;
    color: rgb(74, 74, 74);
}

fieldset {
    margin: 1px;
    height: 97.5%;
    border-radius: 4px;
    width: fit-content;
    /* Adjust the fieldset width based on its content */
    min-width: 97.3%;
    /* Ensure the fieldset occupies at least the width of the container */
    overflow: scroll;
}

#right {
    width: 0;
}


td {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

tr {
    margin: 10px;
}

p {
    padding: 2px;
    margin: 2px;
    font-size: 18px;
}


.box {
    padding: 10px;
    width: 94%;
    min-width: 94%;
    border-radius: 5px;
    text-align: left;
    background: #ddd;
    box-shadow: rgba(0, 0, 0, 0.04) 0 1px 3px 0;
}

label {
    margin-top: 5px;
    padding: 5px;
    font-size: 18px;
}